body{
    background-color: gray;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cart-css-box{
    width: 800px;
    position: absolute;
    margin-top: 150px;
    
}

.big-box
{
    display: block;
    width: 750px;
    font-size: 18px;
    font-weight: bold;
    background-color:white;
    border-radius: 10px; 
    margin: 5px;
    margin-top: 20px;  
    padding: 20px; 
    margin-bottom: 20px;
}
.image-css{
    width: 150px;
}

.info-outer-box{
    margin-left: 10px;
    display: grid;
    grid-template-columns: 25% 1fr; 
}
.detail-box
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 27%;
}
.detail
{
    display: flex;
    margin: 3px;
}
.detail-price{
    color: rgb(207, 7, 7);
    font-size: 21px;
}
.button-css{
    background-color: red;
    border-radius: 10px;
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.button-container{
    display: inline;
}
.h1{
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;  
    font-size: 23px;
}
.outer-box{

    display: grid;
    grid-template-columns: 60% 1fr;
    margin-top: 20px;
    
}
.radio-container-css{
    
    display: block;
    border: 1px solid black;
    
    
}
.h4-css{
    text-align: center;
}
.radio-value{
    display:block;
    margin-left: 30px;
    margin-bottom: 20px;
}
.date-css{
    display:inline-block;
    color: rgb(208, 5, 5);
}
.price-css{
    display:inline-block;
    margin-left: 30px;
    color: rgb(3, 106, 3);
}
.header{
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: black;
    z-index: 1;
    margin-top: -10px;
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
}
.right-section{

    display: flex;
    width: 300px;
}

.middle-section{
    color: white;
    display: flex;
    width: 300px;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    justify-content: center;
        
}
.left-section{
    display: flex;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: center;
        
}
img{
    width: 280px;
    margin-left: 30px;
    margin-top: 5px;
}

.order-heading-div{
    background-color: gray;
    color: yellow;
    font-size: 40px;
    font-weight: bolder;
    width: 800px;
    margin-top: 80px;
    position: fixed;
    text-align: center;
    padding: 15px;
    z-index: 1;
}

.payment-detail-css{
    display: block;
    position: fixed;
    top:80px;
    right: 10px;
    width: 700px;
    height:500px ;
    color:black;
    font-size: 18px;
    text-align: center;

}

h1{
    color:yellow;
}

.payment-render-box{
    margin-left: 70px;
    height:400px;
    width: 500px;
    padding: 10px;
}

.table,tr{
    border: 2px solid gray;
    margin-left: 10px;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    
}
tr{
    
    width: 100%;
    height: 50px;
    text-align: left;
}
td{
    border-radius: 10px;
    width: 100%;
    height: 10px;
    text-align: left;
    padding: 20px;
    font-weight: bold;

}
.total-css{
    color: rgb(207, 7, 7);
    font-weight: bolder;
    font-size: 20px;
}
.order-button-css{
    background-color: goldenrod;
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    margin-left: 10px;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.order-button-css:hover{
    background-color: green;
}