body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;    
}
.home-css{
    position: absolute;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top:90px;
    background-color: gray;

}
.grid-box{
    width: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
    background-color:white;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition:0.5s;
}
.grid-box:hover{
    background-color: gainsboro;
    border-radius:0;
    
}
.small-box{
    
    display: block;
   
}
.book-name{
    color: black;
    margin-bottom: 20px;
    margin-top: 10px;

}

.image-size{
    width: 150px;
    height: 200px;
    transition: transform 0.5s;
}
.image-size:hover{
    transform: scale(1.7);
}

.button-css{
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
     transition: 0.5s;
}
.button-css:hover{
    color: black;
    background-color:goldenrod;
   
}
.header{
    background-color:black;
    color: white;
    display: flex;
    top:0px;
    justify-content: space-between; 
    align-items: center; 
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.left{
    display: flex;
    width: 25%;
    height: 90px;  
    align-items: center;

}
.logo{
    width: 280px;
    margin-left: 80px;
}
.center{
    display: flex;
    flex: 1;
    height: 70px;
    justify-content: center;
}
input {
    width: 70%;
    border-radius: 20px;
    font-size: 20px;

}
input::placeholder{
    font-weight: bolder;
    color: black;
    padding: 20px;
}
.right {
    display: flex;
    width: 15%;
    background-color:rgb(242, 199, 91);
    height: 70px;
    color:black;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
a {
    color: black;
    font-size: 25px;
    text-decoration: none;    
}
a:hover{
    color: white;
}

.select-css{
    margin: 5px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
}
.author-info{
    display: block;
    margin-top: 70px;
    
}
.author,.price{
    display:block;
    width: 90px;
    margin-left: -40px;
    margin-bottom: 20px;
}
.star-img{
    width: 100%;
    height: 100px;
    transition: transform 0.5s;
}
.star-img:hover{
    transform: scale(1.9);
}
.addMessage-css{
    color: rgb(3, 81, 3);
    font-weight: bold;    
}

